---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="reflex">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/ski.jpg"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
              Reflexiona sobre tus Actitudes y Comportamientos
            </Title>
            <!-- 
            <Paragraph className="mt-8">
                
            </Paragraph>
            -->
            <div class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info description="Reflexiona sobre cómo percibes a las personas mayores y desafía los prejuicios que puedas haber internalizado" title="Cuestiona tus ideas preconcebidas">
                </Info>
                <Info description="Usa un lenguaje que valore y respete a las personas mayores, evitando términos despectivos o condescendientes." title="Evita el lenguaje edadista">
                </Info>
                <Info description="Recuerda que las personas mayores tienen experiencias, intereses y capacidades únicas que merecen respeto." title="Trátalos como iguales">
                </Info>
            </div>
        </div>
    </Container>
</section>